<h2>About Yvonna & Erik's Rentals</h2>

<p>This Super Rentals website was created to explore the wonderful world of Ember. This project allows us to imagine traveling the world while simultaneously trabersing the Ember framework</p>

{{#link-to 'contact'}}Click to contact us.{{/link-to}}
