
<h2 class="underline">About Rentals R Us</h2>

<h3>This Super Rentals website was created to explore the wonderful world of Ember. This project allows us to imagine traveling the world while simultaneously trabersing the Ember framework</h3>

  <h1>{{#link-to 'about'}}About us{{/link-to}} | {{#link-to 'index'}}Home{{/link-to}}</h1>
