
<h2 class="underline">Contact Rentals R Us</h2>
  <h3>Our rental service would love to help you choose a destination or answer any burning life questions you may have.</h3>

  <h3>Contact us today!</h3>

  <h3>
    Super Rentals Headquarters<br>
    1234 Test Address<br>
    Testytesty OR 97232
  </h3>

  <h3>(503) 555-1212</h3>

  <h3>superrentalsrep@superrentals.com</h3>

  <h1>{{#link-to 'about'}}About us{{/link-to}} | {{#link-to 'index'}}Home{{/link-to}}</h1>
