<h1>Welcome to super-rentals</h1>

We hope you find exactly what you are looking for

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental}}
    {{/each}}
</ul>

{{#link-to 'about'}}About Us{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
