
  <h2>Welcome to super-rentals</h2>

  <ul>
    {{#each model as |rental|}}
      <h4>{{rental-tile rental=rental}}</h4>
    {{/each}}
  </ul>

  {{new-rental save2="save3"}}

  <h1>{{#link-to 'about'}}About Us{{/link-to}} | {{#link-to 'contact'}}Contact Us{{/link-to}}</h1>
  <h1></h1>
