
  <h1>Welcome to super-rentals</h1>

<h2>Cities</h2>
<ul>
  {{#each model.cities as |city|}}
    <li>{{city-popularity city}}{{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-city saveCity="saveCity"}}

  <h1>{{#link-to 'about'}}About Us{{/link-to}} | {{#link-to 'contact'}}Contact Us{{/link-to}}</h1>
  <h1></h1>
